@using LogicaNegocio.Servicios
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_WEB.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header class="text-bg-dark">
        <nav class="navbar bg-dark nav-underline navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container">
                @{
                    string permisos = HttpContextAccessor.HttpContext.Session.GetString("permisos");
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Home"
                               && ViewContext.RouteData.Values["Action"].ToString()=="Index" ? "active" : "" )"
                               asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (RolPermisos.TienePermiso("Gestionar recurso,Crear recurso,Asignar agenda", permisos))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Recurso"? "active" : "" )"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">Recurso</a>
                                <ul class="dropdown-menu">
                                    @if (RolPermisos.TienePermiso("Gestionar recurso", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Recurso"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Gestionar" ? "active" : "" )"
                                               asp-controller="Recurso" asp-action="Gestionar">Gestionar recursos</a>
                                        </li>
                                    }
                                    @if (RolPermisos.TienePermiso("Crear recurso", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Recurso"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Crear" ? "active" : "" )"
                                               asp-controller="Recurso" asp-action="Crear">Crear recurso</a>
                                        </li>
                                    }

                                    @if (RolPermisos.TienePermiso("Asignar agenda", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Recurso"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Asignar_horario" ? "active" : "" )"
                                               asp-controller="Recurso" asp-action="Asignar_horario">Asignar agenda</a>
                                        </li>
                                    }

                                </ul>
                            </li>

                        }
                     
                        @if (RolPermisos.TienePermiso("Gestionar usuarios,Crear usuario", permisos))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white @((ViewContext.RouteData.Values["Controller"].ToString()=="Usuario" && (ViewContext.RouteData.Values["Action"].ToString()=="Gestionar"
                            ||  ViewContext.RouteData.Values["Action"].ToString()=="Crear"))? "active" : "" )"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
                                <ul class="dropdown-menu">
                                    @if (RolPermisos.TienePermiso("Gestionar usuarios", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Usuario"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Gestionar" ? "active" : "" )"
                                               asp-controller="Usuario" asp-action="Gestionar">Gestionar usuarios</a>
                                        </li>
                                    }
                                    @if (RolPermisos.TienePermiso("Crear usuario", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Usuario"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Crear" ? "active" : "" )"
                                               asp-controller="Usuario" asp-action="Crear">Crear usuario</a>
                                        </li>
                                    }
                                   
                                </ul>
                            </li>
                        }

                        @if (RolPermisos.TienePermiso("Gestionar multas,Mis multas", permisos))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white @((ViewContext.RouteData.Values["Controller"].ToString()=="Multa" && (ViewContext.RouteData.Values["Action"].ToString()=="Gestionar"
                            ||  ViewContext.RouteData.Values["Action"].ToString()=="Historial"))? "active" : "" )"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">Multas</a>
                                <ul class="dropdown-menu">
                                    @if (RolPermisos.TienePermiso("Gestionar multas", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Multa"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Gestionar" ? "active" : "" )"
                                               asp-controller="Multa" asp-action="Gestionar">Gestionar multas</a>
                                        </li>
                                    }

                                    @if (RolPermisos.TienePermiso("Mis multas", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Multa"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Historial" ? "active" : "" )"
                                               asp-controller="Multa" asp-action="Historial">Mis multas</a>
                                        </li>
                                    }

                                </ul>
                            </li>
                            
                        }

                        @if (RolPermisos.TienePermiso("Ver agenda,Gestionar agendas", permisos))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white @((ViewContext.RouteData.Values["Controller"].ToString()=="Dashboard" && (ViewContext.RouteData.Values["Action"].ToString()=="Dashboard"
                            ||  ViewContext.RouteData.Values["Action"].ToString()=="GestionarAgenda"))? "active" : "" )"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">Agenda</a>
                                <ul class="dropdown-menu">
                                    @if (RolPermisos.TienePermiso("Ver agenda", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Dashboard"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="Dashboard" ? "active" : "" )"
                                               asp-controller="Dashboard" asp-action="Dashboard">Mi agenda</a>
                                        </li>
                                    }
                                    @if (RolPermisos.TienePermiso("Gestionar agendas", permisos))
                                    {
                                        <li>
                                            <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Dashboard"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="GestionarAgenda" ? "active" : "" )"
                                               asp-controller="Dashboard" asp-action="GestionarAgenda">Gestionar agendas</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (RolPermisos.TienePermiso("Gestion de roles", permisos))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Rol"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="Rol" ? "active" : "" )"
                                   asp-controller="Rol" asp-action="Rol">Roles</a>
                            </li>
                        }

                        @if (RolPermisos.TienePermiso("Realizar reserva", permisos))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Reserva"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="Reservar" ? "active" : "" )"
                                   asp-controller="Reserva" asp-action="Reservar">Reservar</a>
                            </li>
                        }

                        @if (RolPermisos.TienePermiso("Ver reservas", permisos))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Reserva"
                        && ViewContext.RouteData.Values["Action"].ToString()=="Historial" ? "active" : "" )"
                                   asp-controller="Reserva" asp-action="Historial">Mis reservas</a>
                            </li>
                        }

                        @if (RolPermisos.TienePermiso("Reservas del recurso", permisos))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Reserva"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="Reservas_recurso" ? "active" : "" )"
                                   asp-controller="Reserva" asp-action="Reservas_recurso">Reservas recurso</a>
                            </li>

                        }
                     
                        @if (RolPermisos.TienePermiso("Informacion empresa", permisos))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Sistema"
                                    && ViewContext.RouteData.Values["Action"].ToString()=="Empresa" ? "active" : "" )"
                                   asp-controller="Sistema" asp-action="Empresa">Empresa</a>
                            </li>
                        }

                    </ul>
                    <ul class="nav nav-underline d-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white @(ViewContext.RouteData.Values["Controller"].ToString()=="Usuario"
                               && ViewContext.RouteData.Values["Action"].ToString()=="Actualizar" ? "active" : "" )"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                Usuario
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Salir">Cerrar sesión</a>
                                </li>
                                <li>
                                    <a class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString()=="Usuario"
                                       && ViewContext.RouteData.Values["Action"].ToString()=="Actualizar" ? "active" : "" )"
                                       asp-controller="Usuario" asp-action="Actualizar">Datos personales</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy; 2023 - Todos los derechos reservados - Proyecto de Programación WEB, Universidad de la Amazonia
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/formulario.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
